<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, modi? Voluptatibus autem porro, fuga ipsa non excepturi ratione maxime ipsum nobis pariatur reprehenderit assumenda a ea dolore ut est reiciendis?</p>
        </ul>
        <ul>
            <li><h1>Educacion 2</h1> - <h3>(years)</h3></li>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, modi? Voluptatibus autem porro, fuga ipsa non excepturi ratione maxime ipsum nobis pariatur reprehenderit assumenda a ea dolore ut est reiciendis?</P>
        </ul>
        <ul>
            <li><h1>Educacion 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus laudantium voluptas eum eligendi voluptatem quo assumenda tenetur magnam dignissimos vel optio praesentium, eos voluptate sit, at mollitia illo? Adipisci, modi.</p>
        </ul>

    </div>
</div>

