.row{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);;
}
footer{
    color:black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px -2px 2px pink;
    box-shadow: 2px -4px 5px black;
}