<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>VEA-SUPERMERCADO</h1> - <h3>(2005-2005)</h3></li>
            <p>Pasantia: aprendiz de caja, realizaba la reposicion de la mercaderia, control de mercaderia en gondolas.
            </p>
        </ul>
        <ul>
            <li><h1>DRUGSTORE</h1> - <h3>(2007-2008)</h3></li>
            <p>Tareas administrativas, atencion al publico, cobro, pedidos de mercaderias.
            </p>
        </ul>
        <ul>
            <li><h1>SMART-SEGURIDAD PRIVADA</h1> - <h3>(year)</h3></li>
            <p>Operadora, controlaba la entrada de guardias a sus puestos, realizaba la planilla de asistencia para la semana, vigilaba y controlaba en el sistema de la computadora, a traves de un programa los disparos de alarmas asi todo estuviera bien, realizaba informes a gerencia.
            </p>
        </ul>

    </div>
</div>
