.row{
    padding: 20px;
}
div{
background-color: #833d8b;
text-align: center;
}
/*estilo de fotoperfil*/
@media(min-width:320px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 5%;
        top: 620px;
    }
}
@media(max-width:933px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 5%;
        top: 650px; 
    }
}

/*etiqueta nombre*/
#nombre{
font-weight: bold;
margin-top: 30px;
}