<div class= "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img-perfil2.jpg" 
        class="img-fluid" id="fotoperfil">;
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Campero Yennifer Erica</p>
        <p>Full-Stack Dev Jr</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
             <h1>Acerca de mi</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perspiciatis quisquam nobis ut repellendus cumque cupiditate officia laudantium asperiores rerum voluptates, saepe, minus blanditiis enim a vitae delectus officiis odit.
            </p>
        </span>
    </div>
</div> 
