<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion-Secundaria</h1> - <h3>(2000-2005)</h3></li>
            <p>Escuela Dr. Miguel Lillo - Yerba Buena</p>
             <p>Titulo: Perito Mercantil</p>
        </ul>
        <ul>
            <li><h1>Educacion-Terciaria</h1> - <h3>(2010-2014)</h3></li>
            <p>Instituto Dr. Alfredo Coviello - San Miguel de Tucuman</p>
            <P>Titulo: Tecnica en Comercio Exterior y Relaciones Internacionales</P>
        </ul>
        <ul>
            <li><h1>Cursos</h1> - <h3>(2006-2021)</h3></li>
            <p>Ingles - Administracion - Auxiliar Farmacia - Costura - Bordado</p>
        </ul>

    </div>
</div>

