.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.redes{
   margin-right: 0.4em;
}
#logoARPRT{
   width: 150px;
   border-radius: 20%;
  
}
img{
   width: 50px;
   border-radius: 30%;
   box-shadow: -3px -4px 4px black;
   }
.btn{
      border-width:medium;
}

/*--Para la vist del celular --*/
@media (max-width:575px){ 
     .container{ 
      flex-direction: column;
}
    .redes{
   display: flex;
   flex-direction: column;
   align-items: center;
}
    .redes img{
   margin: 0.3em;
}
}