<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoARPRT.png" id="logoARPRT"> 
        </div>
    <div class="redes">
            <a href=""><img src="../.../../../assets/Linkedin-logo.png" id="linkedin"></a>
            <a href=""> <img src="../../../assets/Instagram_logo.png" id="instagram"></a>
            <a href=""> <img src="../../../assets/github.png" id="github"></a>
            <a href=""> <img src="../../../assets/logoface.png" id="facebook"></a>
            <a href=""> <img src="../../../assets/twitter.png" id="twitter"></a>
            <a href=""> <img src="../../../assets/wtslogo.jpg" id="whatssap"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">INGRESE</button>
           </div>
    </div>
</div>





 
