.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.redes{
   margin-right: 0.6em;
}
#logoARPRT{
   width: 200px;
  
   
  
}
img{
   width: 50px;
   border-radius: 20%;
   box-shadow: -3px -4px 4px black;
   }
.btn{
      border-width:medium;
}

/*--Para la vist del celular --*/
@media (max-width:575px){ 
     .container{ 
      flex-direction: column;
}
    .redes{
   display: flex;
   flex-direction: column;
   align-items: center;
}
    .redes img{
      padding: 50px;
      text-shadow: 2px 2px 2px pink;
}
}