<div class= "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img-perfil2.jpg" class="img-fluid" id="fotoperfil">;
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Campero Yennifer Erica</p>
        <p>Full-Stack Dev Jr</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
             <h1>Acerca de mi</h1>
             <p>Soy una mujer que nacio en los finales de los 80, tengo mis mejores datos guardados, de vez en cuando los consulto y regreso al pasado de mis archivos...
             La vida siempre puso desafios y los pude atravesar contra todo lo que se me opuso.
             En la actualidad soy mama, con profesion no ejercida y aprendiendo un año mas, desde 1994 hasta 2022, trabajando mi mente con el estudio. 
             Con muchas ganas de oficializar en alguna Empresa y sentar mis bases.
            </p>
        </span>
    </div>
</div>
