<div class= "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img-perfil2.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p> Web Full Stack Jr.</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
             <h2>Acerca de mi</h2>
             <p> Tecnica sin ejercer, muy responsable y con muchas ganas de trabajar y seguir aprendiendo.
             La vida siempre me pone desafios, como el que estan visualizando, me gustaria poner en practica los conocimientos adquiridos y formar parte de un equipo de trabajo, asi poder desarrollarme personal y profesionalmente.
            </p>
             
        </span>
    </div>
</div>
