.row{
    padding: 75px;
    text-shadow: 2px 2px 2px pink;
}
div{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);;
    text-align: center;
}
.img-fluid{
        max-width: 300px;
        height: auto;
        
        
}
/*estilo de fotoperfil*/
@media(min-width:320px){
    #fotoperfil{
        position: absolute;
        width: 28;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 2%;
        top: 300px;
    }
}
@media(max-width:933px){
    #fotoperfil{
    position: absolute;
    width: 22%;
    border-radius: 195%;
    box-shadow: 3px 3px 3px black;
    left: 2%;
    top: 625px;
    }
}

/*etiqueta nombre*/
#nombre{
font-weight: bold;
margin-top: 10px;
text-shadow: 2px -2px 4px pink;
}