.row{
    padding: 75px;
    text-shadow: 2px 2px 2px pink;
}
div{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    text-align: center;
}
.img-fluid{
        width: 20%;
        height: 300px;
        
        
}
/*estilo de fotoperfil*/
@media(min-width:520px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 600px;
    }
}
@media(max-width:520px){
    #fotoperfil{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #dd3675;
    left: 33%;
    top: 900px;
    }
}

/*etiqueta nombre*/
#nombre{
font-weight: bold;
margin-top: 10px;
text-shadow: 2px -2px 4px pink;
}